DATABASE_URL=postgresql+asyncpg://postgres:your_password_here@127.0.0.1:5433/mysoundprint

POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=mysoundprint

REDIS_URL=redis://127.0.0.1:6379/0

SPOTIFY_CLIENT_ID=your_client_id_here
SPOTIFY_CLIENT_SECRET=your_client_secret_here
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8000/auth/callback
JWT_SECRET_KEY=generate_with_secrets_token_hex_32